.landing {
    max-width: 100%;
    width: 100%;
    margin: 0;
    // overflow: hidden;
    padding: 0;
    margin-top: 0;
    .box {
        height: 90vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // background: #ffefba52; 
        // background: -webkit-linear-gradient(to right bottom, #FFFFFF, #ffefba52); 
        // background: linear-gradient(to right bottom, #FFFFFF, #ffefba52);
        position: relative;
        object {
            position: absolute;
            z-index: -100;
            &.ball-1 {
                top: 5px;
                right: 5px;
            }
            &.ball-2 {
                top: 105px;
                left: 25px;
            }
            &.ball-3 {
                bottom: 50px;
                right: 300px;
            }
        }
        .box-content {
            height: 80%;
            width: 90%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
	        background: hsla(0,0%,100%,.25) border-box;
	        overflow: hidden;
	        border-radius: 1.3em;
	        box-shadow: 0 0 0 1px hsla(0,0%,100%,.3) inset,
	            0 .5em 1em rgba(0, 0, 0, 0.2);
            .content-text {
                width: 50%;
                padding-top: 7rem;
                padding-left: 2rem;
                align-self: flex-start;
                h1 {
                    margin: 0;
                    margin-bottom: 1rem;
                    font-weight: 800;
                    line-height: 65px;
                    span {
                        background: #1647b2;
                        color: #fff;
                        font-size: 3rem;
                        padding: .2rem .7rem;
                    }
                }
                p {
                    margin: 0;
                    margin-bottom: 3rem;
                    font-size: 1.2rem;
                    font-weight: 500;
                }
                button {
                    border: none;
                    font-size: 1.4rem;
                    background: #1647b2;
                    color: #fff;
                    padding: .9rem 2rem;
                    font-weight: 600;
                    text-transform: capitalize;
                    cursor: pointer;
                    border-radius: 7px;
                    span {
                        margin-left: 20px;
                        svg {
                            animation: slide 1s ease-in-out 2s infinite;
                        }
                    }
                }
            }    
            .content-illus {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                object {
                    width: 600px;
                    height: 600px;
                    z-index: 1;
                }
            }    
        }
    }
}


@keyframes slide {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(10px, 0);
    }
  }